<div class="app-container">
  <!-- Header Section -->
  <header class="app-header">
    <h1>Library Management System</h1>
    <nav>
      <a href="#" class="home-link">Home</a>
    </nav>
  </header>

  <!-- Main Content Area with Sidebar and Router Outlet -->
  <div class="main-content">
    <!-- Left Sidebar -->
    <aside class="sidebar">
      
    <a  
      class="sidebar-button" 
      routerLink="/Doctor" 
      routerLinkActive="active" >
      Doctor
    </a>

      <button class="sidebar-button">Librarians</button>
      <button class="sidebar-button">Register</button>
    </aside>

    <!-- Main View (Router Outlet) -->
    <section class="view-container">
          
      <router-outlet></router-outlet>
    
    </section>
  </div>
</div>
